<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  
<div class="control-group">
    <%=f.label :isVisible, class:'control-label'%>
  <div class="controls">
    <label class="radio inline">
      <%=f.radio_button(:make_invisible, "true") %>
      <%=f.label(:isVisible, "Post is now private") %>
    </label>
  </div>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
