<!DOCTYPE html>
<html>
<head>
  <title>Myappname</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <% if alert %>
  	<div class = "alert alert - error">
  		<%= alert %>
  	</div>
  <%end%>
  <% if notice %>
  	<div class = "alert alert - success">
  		<%= notice %>
  	</div>
  <% end %>

  <% if user_signed_in? %>
    <li><%= link_to 'Logout',
      destroy_user_session_path,
      method: :delete %></li>
  <%end%>

</head>
<body>

<%= yield %>

</body>
</html>